/**
 * Provides styles for the design's header.
 *
 *
 * Presentational markup provided by this file:
 *
 * #header: Defines the header. The contents of the header should be
 *          contained within a .content wrapper to align them to the grid.
 *          Any .menu or .secondary-menu in the header will have additional styles applied.
 *
 * .header-logo: Defines the header's CIF logo.
 *
 *
 * @version 1.0
 * @since 1.0
 */

/**
 * Defines the page header.
 *
 * @version 1.0
 * @since 1.0
 */
#header {
	background-color: $color-primary-background;
	
	// Apply special menu styles
	.menu,
	.secondary-menu {
		// Balance the margins around the menu with a 1 line top margin.
		// The menu already has a bottom margin 1 line tall.
		@include margin-leader(1);
		
		float: right;
	}
}

/**
 * Replaces the given element with the CIF logo.
 *
 * @version 1.0
 * @since 1.0
 */
.header-logo {
	// Normalize the font size
	@include adjust-font-size-to($base-font-size);
	
	margin: 0;
	float: left; // Move the logo to the left end of the header

	height: rhythm(3);
	line-height: rhythm(3);
	
	// CIF Logo
	&:after { // .after is to support older versions of IE
		// Get the CIF logo from our icon font
		font-family: $cif-icon-font;
		content: $icon-font-logo;
		
		font-size: rhythm(2);
		vertical-align: middle;
		
		color: $color-secondary-text;
	}
	
	// Support for older IE
	@include cif-ie-pseudo-element('after', $icon-font-logo);
	.after {
		@extend .header-logo:after;
	}
	
	// Allow the <a> to be resized to fit this element
	position: relative;
	
	// Increases the link's click area to cover the logo.
	& > a {
		// Accessibly hide the text
		text-indent: -9999px;
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}