# Don't track core WordPress files in the root of the repo
/wp-*/*
/wp-*.php
/.htaccess
/readme.html
/index.php
/license.txt
/xmlrpc.php

# Track the CIF WordPress theme
!/wp-content/themes/
/wp-content/themes/index.php
