# Don't track core WordPress files in the root of the repo
/wp-*/*
/wp-*.php
/.htaccess
/readme.html
/index.php
/license.txt
/xmlrpc.php

# Track our WordPress themes
!/wp-content/themes/
/wp-content/themes/index.php

# Don't track compiled panel templates
/panel/smarty_compile/

# Don't track our panel config file
/panel/panel-config.php

# Don't track SASS caches
.sass-cache

# Miscellaneous files 
.bash_history
