body {
    font-family: sans-serif;
}

input, textarea {
    color: #808080;
    border: 1px solid #303030;
    margin: 1px;
    padding: 2px;
    background-color: #f8f8f8;
}

input:hover, textarea:hover {
    color: #808080;
    background-color: #f8f8f8;
}

input:focus, textarea:focus {
    color: #000000;
    background-color: #ffffff;
}

input:focus, input:hover, textarea:focus, textarea:hover {
    border: 2px solid #4da20f;
    margin: 0px;
}

input#submit {
    color: #000000;
    padding: 3px;
    margin: 1px;
}

input#submit:active, input#submit:hover {
    margin: 0px;
}

input.check {
    margin: 1px;
}

td.label {
    /*			text-align: right;*/
    width: 150px;
}

td {
    padding-bottom: 5px;
    padding-top: 5px;
}
