/**
 * Sets the background image of an element with a high resolution version that will only be loaded and
 * served to high resolution displays.
 *
 * @param string $image The filename of the standard resolution image.
 *                      This should not include the file extension.
 * @param string $high-res-image The filename of the high resolution image.
 *                               This should not include the file extension.
 *                               By default this is set to {$image}@2x.{$type}
 *                               The high resolution image will be scaled to be the same size as
 *                               the standard resolution image, so it should have the same aspect ratio.
 * @param string $type The file type of the images.
 *
 * @version 1.0
 * @since 1.0
 */
@mixin cif-high-res-background-image($image, $high-res-image: '', $type: 'png') {
	// If a high resolution image was not specified, assume it to be {$image}@2x
	@if ($high-res-image == '') {
		$high-res-image: $image + '@2x.' + $type;
	}
	
	$image: $image + '.' + $type;
	
	background-image: image-url($image);

	@media (-webkit-min-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(min--moz-device-pixel-ratio: 1.5),
	(min-device-pixel-ratio: 1.5) {
		background-image: image-url($high-res-image);
		background-size: image-width($image) image-height($image);
	}
}