/**
 * Defines an article of serialized content.
 *
 *
 * Presentational markup provided by this file:
 *
 * .articles: Defines a section which contains articles.
 *
 * .article: Defines an article of serialized content.
 *
 * .article-metadata: Defines metadata for the serialized content.
 */

/**
 * Defines a section which contains articles.
 */
.articles {
	// Prevent floated children from collapsing this element to 0 height
	@include cif-clearfix;
	
	display: inline-block;
	vertical-align: top; // Prevent document whitespace from causing extra vertical gaps
	width: span(8); // Span 8 grid columns
	
	.article:first-child {
		// Remove upper margins to prevent them from stretching the upper "padding" of this element
		& > :first-child {
			margin-top: 0;
		}
	}
	
	.article:last-child {
		// Remove bottom margins to prevent them from stretching the bottom "padding" of this element
		& > :last-child {
			margin-bottom: 0;
		}
	}
}

/**
 * Creates a block of serialized content.
 */
.article {
	@include margin-trailer(1); // 1 line bottom margin
	width: span(8); // Span 8 grid columns
	
	// Use margins to provide enough room for the metadata
	margin-right: span(4) + $blueprint-grid-margin; // 4-column right margin with gutter
}

/**
 * Defines metadata for the serialized content.
 */
.article-metadata {
	@include column(4); // 4 columns wide
	
	
	// Pull the metadata off to the right
	margin-right: span(-4) + $blueprint-grid-margin; // Pull right by 4 columns and the gutter
	float: right;
	
	// Make metadata less visually pronounced than article contents
	& > * {
		@extend small; // Inherit styles from the <small> element
		
		margin: 0;
	}
}
