/**
 * Defines styles for a sidebar.
 *
 *
 * Presentational markup provided by this file:
 *
 * .sidebar: Defines a block of content as belonging in a sidebar.
 *
 * .sidebar-content: Defines a block of content to go alongside a sidebar.
 *
 * @dependency modules/_callout
 */

/**
 * Defines a block of sidebar content.
 */
.sidebar {
	// Sidebars are similar to callouts
	@extend .callout; // Inherit styles from the callout class
	
	// Sidebar have narrow dimensions
	@include column(4); // 4 columns wide
	
	margin-top: 0;
	margin-right: 10px !important; // !important to overwrite inherited .callout margin with !important set
	
	ul, ol {
		list-style: none;
	}
	
	// Support for right-aligned sidebars
	&.align-right {
		float: right;
		margin-left: 10px;
		margin-right: -10px !important;
	}
}

/**
 * Defines a block of content to go alongside a sidebar.
 */
.sidebar-content {
	// Prevent floated children from collapsing this element to 0 height
	@include cif-clearfix;
	
	display: inline-block;
	vertical-align: top; // Prevent document whitespace from causing extra vertical gaps
	width: span(12); // Span 12 grid columns
	
	// Remove upper margins to prevent them from stretching the upper "padding" of this element
	&:first-child {
		margin-top: 0;
	}
	
	// Prevent list bullets from spilling out onto the sidebar
	ul, ol {
		padding-left: 2em;
	}
}
